 .login-container {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom:20%;
}

#logo{
    width:60%;
}
#logo_btn{
    background: url("images/icon.png") no-repeat;
    width:280px;
    height:180px;
	border: none;
    background-size: 100%;
	vertical-align: middle;

}
