.register-container {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom:20%;
}

.short{
font-weight:bold;
color:#FF0000;
font-size:larger;
}
.weak{
font-weight:bold;
color:orange;
font-size:larger;
}
.good{
font-weight:bold;
color:#2D98F3;
font-size:larger;
}
.strong{
font-weight:bold;
color: limegreen;
font-size:larger;
}

#logo_btn{
    background: url("images/icon.png") no-repeat;
    width:280px;
    height:180px;
	border: none;
    background-size: 100%;
	vertical-align: middle;
}
