body {
	font-family: 'Literata', serif;
	font-family: 'Song Myung', serif;
	margin: 1%;
}

#menu{
	width: 100%;
	height: 20%;
	background-color:#4290dd;
	margin-top: 1%;
    	margin-bottom: 2%;
	float: left;
	color:black ;
}

.menu_button{
    	padding: 0.8% 1.5%;
	float : right;
	color:black !important;
	text-decoration: none;
}

.font_apply{
    	font-family: 'Hi Melody';
}

a
{
    	font-size: 1.4vw;
	color:white;
	font-weight:bold;
    	text-decoration:none;
}


.button {
	width:17%;
	height: auto;
	background-color:#1976d2;
	border:none;
	color:white;
	padding:2px;
	text-align:center;
        	text-decoration:none;
	display:inline-block;
	font-size:70px;
	margin:1px;
	cursor:pointer;
	border-radius:15px;
}

.button:hover{
	background-color:#4290dd;
}


.c { text-align:center; }
.l { text-align:left; }
.r { text-align:right; }
.w {font-size:50px;}

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
