<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>소개 Page</title>
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Jomolhari|Literata|Nanum+Myeongjo|Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/description.css">
</head>
<body>

	<div class="logo">
	<a href = "http://www.naver.com" >
	<img src="../static/style/images/icon.png" width="10%" alt="icon"></a>
	</div>


	<div class="btn_play">
	</div>

	<div id="menu" class="font_apply">
                <a class="menu_button" href = #>오류 보고</a>
                <a class="menu_button" href = #>계정 관리</a>
                <a class="menu_button" href = #>QA 작성</a>
                <a class="menu_button" href = #>소개</a>
            </div>

	<br><br><br><br>
	<div class="Q">BQuAD란? </div>
	<div class="A"> Bible Question and answer</div>
	<div class="A"> 주어진 성경 지문에 대하여 구체적으로 질문과 답변을 적어 저장할 수 있으며,
	<br>뿐만 아니라 성경에 관해 궁금한 질문에 대해 유추된 답을 받을 수 있는 딥러닝 기반의 Bible KB_QA학습 모델의 데이터이다.</div>
	<br><br><br><br>

	<div class="Q">왜 Dataset을 만드는가?</div>
	<div class="A"> 모든 사람들의 성경에 대한 궁금증을 해소시키며,
	<br>최종적으로 음성으로 성경 정보를 묻고 답하는 AI Bible 어시스턴트 기술의 딥러닝 형식의 Bible KB_QA학습 모델이 학습하기위해 기반이 되는 데이터 세트이다. </div>
	<br><br><br><br>

	<div class="Q"> Dataset 제출 방법 </div>
	<div class="A"> </div>



</body>
</html>