<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BQuAD: 로그인</title>
    <!--
    <link rel="stylesheet" href="../static/style/bootstrap.css">
    -->
    <script src="../static/script/materialize.js"></script>
    <link rel="stylesheet" href="../static/style/materialize.css">
    <link rel="stylesheet" href="../static/style/login.css">
</head>
<body>
<!-- container -->
<div class="login-container">
    <form action="/session" accept-charset="UTF-8" method="post" class="col s12">
        <div class="login-header" style="margin: 40px">
            <img src="../static/style/images/icon.png" width="50%" alt="logo">
        </div>
        <dliv class="js-flash-container">

        </dliv>
        <div class="login-body">
            <div class="input-field col s12 account-field">
                <input id="account" name="account" type="text" class="{{validate}}">
                <label for="account">아이디</label>
                <span class="helper-text" data-error="아이디 또는 비밀번호가 잘못되었습니다."></span>
            </div>
            <div class="input-field col s12 password-field">
                <input id="password" name="password" type="password" class="{{validate}}">
                <label for="password">비밀번호</label>
                <span class="helper-text" data-error="아이디 또는 비밀번호가 잘못되었습니다."></span>
            </div>
            <input type="submit" name="commit" value="로그인" class="btn-large" style="float: right; width: 100%; margin-bottom: 40px">
        </div>
    </form>
    <div class="find_info" style="text-align: center">
        </span> <a target="_blank" id="pwQuery" href="/help?key=password">비밀번호 찾기</a> <span class="bar" aria-hidden="true">|</span> <a target="_blank" id="join" href="/join">회원가입</a>
    </div>
</div>
</body>
</html>