<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing in to BQuAD</title>
    <link rel="stylesheet" href="../static/style/bootstrap.css">
    <link rel="stylesheet" href="../static/style/util.css">
</head>
<body>
<div class="login-container">
    <form action="/session" accept-charset="UTF-8" method="post" class="form-horizontal">
        <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">
        <div class="auth-form-header">
            <h1>Sign in to BQuAD</h1>
        </div>
        <div id="flash-container"></div>
        <div class="auth-form-body">
            <label for="login_field" class="col-lg-2 control-label">아이디</label>
            <div class="col-lg-10">
                <input type="text" name="login" id="login_field" value="" calss="" tabindex="1" autocapitalize="off">
            </div>
            <label for="password" class="col-lg-2 control-label">비밀번호 <a class="" href="/password_reset">비밀번호를 잊으셨나요?</a></label>
            <div class="col-lg-10">
                <input type="text" name="password" id="password" class="" tabindex="2" autofocus="autofocus">
            </div>
            <input type="hidden" name="timestamp" value="{{ timestamp }}">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" name="commit" value="로그인" tabindex="3" class="btn btn-primary">
            </div>
        </div>
        <p>BQuAD를 제출하고 싶나요? <a href="/register">Register</a></p>
    </form>

</div>
</body>
</html>