<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> BQuAD Main Page </title>
<link href="https://fonts.googleapis.com/css?family=Hi+Melody&display=swap&subset=korean" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/style/main.css"/>
<link href="https://fonts.googleapis.com/css?family=Hi+Melody|Jomolhari|Literata|Song+Myung&display=swap" rel="stylesheet">

</head>


<body>


	<div class="logo">
	<a href = "/" >
	<img src="../static/style/images/icon.png" width="10%"></a>
	</div>

	<div class="btn_play">
	</div>

	<div id="menu" class="font_apply">
                <a class="menu_button" href = #>오류 보고</a>
                <a class="menu_button" href = #>계정 관리</a>
                <a class="menu_button" href = #>QA 작성</a>
                <a class="menu_button" href ="/description">소개</a>
            </div>

	<img src="../static/style/images/brain.png" width="50%" height="25%" align="left" >

    <div>
        <div class="w"> BQuAD
            <h2 class="w"> 바이블 질의응답 </h2>
            <h2 class="w"> 4차 산업혁명 시대 </h2>
            <h2 class="w"> 이제는, 그리스도인으로서 직접 참여합시다. </h2>
        </div>

        <div class="button">
        <a href = "/join"> <h2>시작하기</h2> </a>
        </div>
    </div>
	</div>
</body>

</html>