<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>BQuAD Submit Page</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style/submit.css"/>
        <link href="https://fonts.googleapis.com/css?family=Hi+Melody&display=swap&subset=korean" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Jomolhari|Literata|Song+Myung&display=swap" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
        <script>
            var data_JSON = {{ data | tojson | safe }}
        </script>
        <script src="../static/script/submit.js"></script>
    </head>
    <body>
        <div class="logo">
            <a href = "/" >
            <img src="../static/style/images/icon.png" style="width: 10%"></a>
        </div>
        <div class="btn_play"></div>
	    <div id="menu" class="font_apply">
            <a class="menu_button" href = #>오류 보고</a>
            <a class="menu_button" href = #>계정 관리</a>
            <a class="menu_button" href = #>QA 작성</a>
            <a class="menu_button" href = #>소개</a>
        </div>
        <div class="submit_box">
            <div class="search_condition">
                <select id="s1" style="width:5.5%" class="selector font">
                    <option selected>구/신약</option>
                </select>
                <select id="s2" style="width:9%" class="selector font">
                    <option selected>성경</option>
                </select>
                <select id="s3" style="width:3%" class="selector font">
                    <option selected>-</option>
                </select>
                <label class="font" style="font-size: 1.6vw;">장</label>
                <select id="s4" style="width:3%" class="selector font">
                    <option selected>-</option>
                </select>
                <label class="font" style="font-size: 1.6vw;">절</label>
                <img id='img_search' src="../static/style/images/search_img.png" style="margin-left: 0.6%"/>
            </div>
            <div class="container">
                <div id="title">
                    <div id="outLine" class="font">단락 제목</div>
                    <div id="bible_num" class="font">(- -:- ~ -:-)</div>
                </div>
                <div id="context" class="font"> * '성경/장/절'을 선택해주세요.</div>
                <div class="qa">
                    <form action="/send" method="post">
                        <div style="margin-top: 2%;"> <!-- 질문 영역 -->
                            <div>
                                <label class="input_label font"> 질문
                                <img width="1.5%" src="../static/style/images/help_outline_1x.png" class="btn" for="open-pop">
                                <input class="modal-state" id="open-pop" type="checkbox" />
                                <div class="modal">
                                    <label class="modal_bg" for="open-pop"></label>
                                    <div class="modal_inner">
                                        <label class="modal_close" for="open-pop"></label>
                                        <h2 id="popup_title"> 제출 시 유의사항 </h2>
                                        <p id="popup_content">
                                            1. 질문<br>
                                            - 물음표가 포함된 질문 형식(의문문)이어야 합니다.<br>
                                            - 다른 제약 사항은 없습니다.<br>
                                            2. 정답<br>
                                            - 키보드로 직접 입력할 수 없고, 본문을 드래그해서 입력해야 합니다.<br>
                                            - 정답의 내용을 드러내는 필수적인 단어들 외에 부가적인 표현들은 제외해야 합니다.<br>
                                            - 정답으로 입력한 문장의 마지막 단어에서 첫 글자를 제외한 나머지 글자들만 지우거나 되돌릴 수 있습니다. (불필요한 조사 등을 지우지 위한 목적)<br>
                                            - 하나의 질문에 대해 답변이 여러 가지가 나오는 경우, '+' 버튼을 통해 중복 답변을 제출할 수 있습니다.<br>
                                            - 질문에 대해 정답을 찾을 수 없다면, NO_ANSWER를 체크하여 제출합니다. </p>
                                    </div>
                                </div>
                                </label>
                            </div>
                            <input class="input_text font" id="question" type="text" name="question" value="" onkeypress="focus_move(event)" placeholder="질문을 입력해주세요" />
                        </div>
                        <div style="margin-top: 2%;"> <!-- 답변 영역 -->
                            <label class="input_label font"> 답변 </label>
                            <div style="text-align: left;">
                                <input style="display:inline-block;" class="input_text font" id="answer" type="text"
                                    value="" readonly='true' placeholder="드래그해서 답변을 입력해주세요"/>
                                <div style="display:inline-block;" id="btn_group">
                                    <button id="btn_ans1" type="button" onclick="erase()"></button>
                                    <button id="btn_ans2" type="button" onclick="recover()"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div>
                    <button id="submit" class="font">제출하기</button>
                </div>
            </div>
            <div class=show_qa>
                <div class="font" id="q_list" onclick=>이미 등록된 QA 보기/숨기기</div>
                <div id="scrollbox">
                    <p class="description font">&lt;기존의 QA 리스트&gt;</p>
                    <p class="description font">1.</p>
                    <p class="description font">2.</p>
                    <p class="description font">3.</p>
                    <p class="description font">4.</p>
                    <p class="description font">5.</p>
                </div>
            </div>
        </div>
    </body>
</html>