<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>BQuAD Submit Page</title>
        <link rel="stylesheet" type="text/css" href="../static/style/submit.css"/>
        <script src="../static/script/jquery-3.4.1.min.js"></script>
        <script src="../static/script/submit/submit.js"></script>
    </head>
    <body> 
        <div class="container">
            <span id="id">{{id_}} : </span>
            <span id="outLine">{{ outLine }}</span>
            <br>
            <div id="context">{{paragraph}}</div>
            <div class="qa">
                <form action="/send" method="post">
                    <label class="input">
                        질문 <br>
                        <input class="text" id="question" type="text" name="question"
                            size="50" value="" onkeypress="focus_move(event)" placeholder="질문을 입력해주세요">
                    </label>
                    <br>
                    <br>
                    <label for="answer">
                        정답 <br>
                        </label><input class="text" id="answer" type="text" name="temp" size="50"
                             readonly="false" placeholder="정답을 드래그하여 선택해주세요" >
                        <button type="button" onclick="erase()"> 지우기 </button>
                        <button type="button" onclick="recover()"> 되돌리기 </button>
            <div class="description">
                질문을 입력합니다. 정답을 입력할 떄는 문단에서 드래그하여 선택합니다. 제출은 Enter 입니다. 질문은 의문형이여야 합니다. 
            <div>
                <button id="submit">제출하기</button>
            </div>
            </div>
                </form>
            </div>
        </div>
    </body>
</html>