<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>BQuAD Submit Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Jomolhari|Literata|Nanum+Myeongjo|Song+Myung&display=swap" rel="stylesheet">
    <link href="../static/style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/style/submit.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">BQuAD</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/test">QA 시험</a></li>
            <li><a href = /submit>QA 제출</a></li>
            <li><a href = /report>오류 보고</a></li>
            <li><a href="/test">로그아웃</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/test">QA 시험</a></li>
            <li><a href = /submit>QA 제출</a></li>
            <li><a href = /report>오류 보고</a></li>
            <li><a href="/logout">로그아웃</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<br><br>
<div class="container" >
    <div class="selector center row" >
        <div class="input-field col s3">
            <select id="s1" class="selection">
                <option selected>구/신약</option>
            </select>
            <label for="s1">구/신약</label>
        </div>
        <div class="input-field col s4">
            <select id="s2" class="selection">
                <option selected>-</option>
            </select>
            <label for="s2">성경</label>
        </div>
        <div class="input-field col s2">
            <select id="s3" class="selection">
                <option selected>-</option>
            </select>
            <label for="s3">장</label>
        </div>
        <div class="input-field col s2">
            <select id="s4" class="selection">
                <option selected>-</option>
            </select>
            <label for="s4">절</label>
        </div>
        <div id="search_btn" class="col s1 ">
            <a id="img_search" class="white z-depth-0 btn-floating"><i class="blue-text material-icons">search</i></a>
        </div>
    </div>
    <div>
        <div class="card-panel row">
            <div id="title" class="col s12">
                <span id="outLine" class="flow-text">단락 제목</span>
                <span id="bible_num" class="">(- -:- ~ -:-)</span>
            </div>
            <div class="divider col s12"></div>
            <div class="font col s12"> <p id="context">* '성경/장/절'을 선택해주세요.</p> </div>
        </div>
        <div class="qa row">
            <div class="col s9">
                <label for="question" class="blue-text lighten-2 flow-text">질문 <a href="#modal1" class="btn-floating white waves-effect waves-orange z-depth-0 modal-trigger"><i class="black-text material-icons">help_outline</i></a> </label><input type="text" name="" id="question" placeholder="질문을 입력해 주세요">
            </div>
            <div class="col s9">
                <label for="answer" class="blue-text lighten- flow-text">정답</label>
             </div>
            <div id="QA_container" class="row">
                <input class="col s9 " onclick="ans_box_listener(event)" type="text" name="answer" readonly="true" id="answer" placeholder="정답을 드래그 하여 선택해 주세요">
                <button class="col s1 btn_ans1 waves-effect waves-red btn-small white"><i class="black-text material-icons">keyboard_backspace</i></button>
                <button class="col s1 btn_ans2 waves-effect waves-yellow btn-small white"><i class="black-text material-icons">restore</i></button>
                <button class="col s1 btn_ans3 waves-effect waves-green btn-small white"><i class="black-text material-icons">add</i></button>
            </div>
            <div class="col s12 m2 right"><br><button id="submit" class="btn light-blue">제출하기</button></div>

        {% if qa_list != None %}
            <div class="card-panel show-qa">

            </div>
        {% endif %}

    </div>




    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 id="popup_title"> 제출 시 유의사항 </h4>
            <p id="popup_content">
            <h6>1. 질문</h6>
            - 물음표가 포함된 질문 형식(의문문)이어야 합니다.<br>
            - 다른 제약 사항은 없습니다.<br>
            <h6>2. 정답</h6>
            - 키보드로 직접 입력할 수 없고, 본문을 드래그해서 입력해야 합니다.<br>
            - 정답의 내용을 드러내는 필수적인 단어들 외에 부가적인 표현들은 제외해야 합니다.<br>
            - 정답으로 입력한 문장의 마지막 단어에서 첫 글자를 제외한 나머지 글자들만 지우거나 되돌릴 수 있습니다. (불필요한 조사 등을 지우지 위한 목적)<br>
            - 하나의 질문에 대해 답변이 여러 가지가 나오는 경우, '+' 버튼을 통해 중복 답변을 제출할 수 있습니다.<br>
            - 질문에 대해 정답을 찾을 수 없다면, NO_ANSWER를 체크하여 제출합니다. </p>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">알겠습니다.</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/script/materialize.min.js"></script>
<script src="../static/script/submit.js"></script>
<script> var data = {{ data | tojson |safe }};</script>
<script> var data_JSON = {{ bible | tojson | safe }}</script>
</body>
</html>
