<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>QA Test Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hi+Melody|Jomolhari|Literata|Nanum+Myeongjo|Song+Myung&display=swap" rel="stylesheet">
    <link href="../static/style/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/style/test.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">BQuAD</a>
        <ul class="right hide-on-med-and-down">
            <li><a href = /help?account>계정 관리</a></li>
            <li><a href = /submit>QA 제출</a></li>
            <li><a href = /report>오류 보고</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href = /help?account>계정 관리</a></li>
            <li><a href = /submit>QA 제출</a></li>
            <li><a href = /report>오류 보고</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<br><br>
<div class="container" >
    <div class="selector center row" >
        <div class="input-field col s3">
            <select id="s1" class="selection">
                <option selected>구/신약</option>
            </select>
            <label for="s1">구/신약</label>
        </div>
        <div class="input-field col s4">
            <select id="s2" class="selection">
                <option selected>-</option>
            </select>
            <label for="s2">성경</label>
        </div>
        <div class="input-field col s2">
            <select id="s3" class="selection">
                <option selected>-</option>
            </select>
            <label for="s3">장</label>
        </div>
        <div class="input-field col s2">
            <select id="s4" class="selection">
                <option selected>-</option>
            </select>
            <label for="s4">절</label>
        </div>
        <div id="search_btn" class="col s1 ">
            <a class="waves-effect waves-orange white btn-small"><i class="blue-text material-icons left">search</i></a>
        </div>
    </div>
    <div>
        <div class="card-panel row">
            <div id="title" class="col s12">
                <span id="outLine" class="flow-text">단락 제목</span>
                <span id="bible_num" class="">(- -:- ~ -:-)</span>
            </div>
            <div class="divider col s12"></div>
            <div class="font col s12"> <p id="context">* '성경/장/절'을 선택해주세요.</p> </div>
        </div>
    </div>

    <div class="qa row">
        <div class="input-field col s12">
            <label for="question">질문 입력</label><input type="text" name="" id="question">
        </div>
        <div class="col s6 offset-m5">
            <a id="submit" class="blue darken-2 waves-effect waves-light btn" disabled="disabled">질문 하기<i class="material-icons right">send</i></a>
        </div>
    </div>

    <div id="result_container">

    </div>
</div>
<script> var data_JSON = {{ data | tojson | safe }}</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/script/materialize.min.js"></script>
<script src="../static/script/test.js"></script>
</body>
</html>